  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
  }
  .header {
    background-color: #000000;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff; 
  }
  @keyframes slidein {
    from {
      width: 0;
    }
    to {
      width: calc(100% - 24px);
    }
  }
  .main {
    margin-bottom: auto;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
  }
  .section-education,
  .section-english {
    border-bottom: 0;
  }
  .section-title {
    margin-bottom: 20px;  
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #000000;
  }
  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 30px;
  }
  .pre {
    padding: 0;
    margin: 0;
  }
  .section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;  
  }
  .main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #4d2323;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
  }   
  .section-subtitle {
    margin-top: 20px;
    color: #776d6d;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 3px;
  }
  .section-logo {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  }
  .section-list {
    margin: 0;
    padding: 0;  
    list-style: none;
  }
  .section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }
  .section-item a {
    text-decoration: none;
    color: #000000;
  }
  
  .section-item a:hover {
    color: #4d2323;
  }
  .footer {
    background-color: #747171;
    padding: 20px;  
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
  }
  .github {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
  }  
  
